.time {
  text-align: center;
  padding: 32px;
  width: 1440px;
  height: 438px;
  top: 2113px;
  gap: 0px;
  opacity: 0px;
  margin:  auto;
}
.time h3{
    font-size: 32px;
    border-bottom:4px solid ;
   display: inline-block;
   padding: 8px;
}
.colaboradores{
  display: flex;
justify-content: space-around;
margin-top: 32px;
flex-wrap: wrap;
}